.container {
    /* display: flex; */
    /* justify-content: center; */
    background: #1C1A19;
    height: 100vh;
}
.head {
    position: static;
width: 77px;
height: 24px;
left: 12px;
top: 10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;

/* identical to box height, or 133% */

display: flex;
align-items: center;
text-align: center;

/* Theme 3 / Neutral 11 */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}