/* universal selectors */
*{margin: 0;padding: 0;box-sizing: border-box;}  


@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.mobile {
    width: 375px;
    height: 92px;
    /* background-color:  */
    background: rgba(60, 58, 57, 1);
;
}

.top-bar {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.time {
    width: 80%;

}

.container {
        padding: 0 13px 0 21px;
}

.main-header {
    padding: 28px 0;
    display: flex  ;
    /* flex: 1; */
    justify-content: space-between;
}

.john {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
}

.union {
    padding-right: 20px;
}


.hero {
    height: 590px;
    background: rgba(28, 26, 25, 1);

}

h1 {
padding-top: 120px;
padding-left: 24px;

position: static;
width: 327px;
height: 124px;
left: 24px;
top: 120px;

font-family: 'Crete Round', serif;
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
/* or 114% */

letter-spacing: 0.37px;

/* Theme 3 / Primary 1 */

color: #FF6B00;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

h3{
    position: static;
width: 327px;
height: 27px;
padding-left: 24px;
padding-top: 132px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* or 133% */

display: flex;
align-items: center;

/* Theme 3 / Primary 4 */

color: #FFF5E1;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 12px 0px;
}

.content {
    /* position: static; */
    /* width: 327px; */
    /* height: 123px; */
    padding-left: 24px;
    padding-top: 12px;
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    /* flex: none; */
    /* order: 2; */
    /* flex-grow: 0; */
    margin: 12px 0px;
}

footer{
    display: flex;
}

.ul {
    display: flex;
    padding-left: 36px;
    /* justify-content: end; */
}
.ul li {
    list-style: none;
    margin: 10px;
    /* flex: 1; */
}

.ill {  
    top: 311px;
    position: absolute;
    left: 228px;
}